<form>
  <div class="form-group">
    <label for="name">Hotel Name</label>
    <input type="text" class="form-control" id="name" required name="name">
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" required  name="email">
  </div>

  <div class="form-group">
    <label for="location">Location</label>
    <input type="text" class="form-control" id="location" required name="location">
  </div>

  <div class="form-group">
    <label for="contactNumber">Contact Number</label>
    <input type="text" class="form-control" id="contactNumber" required name="contactNumber">
  </div>

  <button class="btn btn-primary">ADD</button>
</form>
