<div>
<h3>New Hotel</h3><br/>
<form [formGroup]="form">
  <div class="form-group">
    <label for="name">Hotel Name</label>
    <input formControlName="name" type="text" class="form-control" id="name" name="name">
    <small *ngIf="name.touched && name.invalid && name.errors.required" class="form-text text-danger">
      Required
    </small>
    <small *ngIf="name.touched && name.invalid && !name.errors.requires" class="form-text text-danger">
      Should be unique
    </small>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input formControlName="email" type="email" class="form-control" id="email" name="email">
    <small *ngIf="email.touched && email.invalid && !email.errors.pattern" class="form-text text-danger">
      Required
    </small>
    <small *ngIf="email.touched && email.invalid && email.errors.pattern" class="form-text text-danger">
      Invalid Email
    </small>
  </div>

  <div class="form-group">
    <label for="location">Location</label>
    <select formControlName="location" name="location" id="location" class="form-control">
      <option value=""></option>
      <option *ngFor="let location of Locations" [value]="location">{{location.city}}</option>
    </select>
    <small *ngIf="location.touched && location.invalid" class="form-text text-danger">
      Required
    </small>
  </div>

  <div class="form-group">
    <label for="contactNumbers">Contact Number</label>
    <input formControlName="contactNumbers" type="text" class="form-control" id="contactNumbers" name="contactNumbers">
    <small *ngIf="contactNumbers.touched && contactNumbers.invalid" class="form-text text-danger">
      Required
    </small>
  </div>

  <button class="btn btn-primary">ADD</button>
</form>
</div>
